[submodule "Photon/vendor/spdlog"]
	path = Photon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Photon/vendor/GLFW"]
	path = Photon/vendor/GLFW
	url = https://github.com/Alan-Grech295/glfw.git
[submodule "Photon/vendor/imgui"]
	path = Photon/vendor/imgui
	url = https://github.com/Alan-Grech295/imgui.git
[submodule "Photon/vendor/NVProCore"]
	path = Photon/vendor/NVProCore
	url = https://github.com/nvpro-samples/nvpro_core.git
